<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: 
	GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the 
	lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testdatabase</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">yuanke1992</property>
		<!--  下面的这种写法是注解的写法 -->
		<!-- <mapping class="com.jason.hibernatedemo.bean.PersonDTO" /> -->
		<!-- 这种写法是配置文件的写法 -->
		<mapping resource="com/jason/hibernatedemo/bean/author.hbm.xml" />
		<mapping resource="com/jason/hibernatedemo/bean/book.hbm.xml" />
		<mapping resource="com/jason/hibernatedemo/bean/user.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>